{% extends 'index.html' %}

{% block content %}




<div class="container text-center">
    <div class="row">
      <div class="col">
        <form method="POST" enctype="multipart/form-data" >  
            {% csrf_token %}  
            {{ formb.as_p }}  
            <button type="submit">Upload</button>  
        </form>  
      
        {% if data %}  
            <h3>Succesfully uploaded</h3>  
            <!-- <img src="" alt="connect" style="max-height:300px">   -->
            <iframe src="" style="width:600px; height:500px;" frameborder="0"></iframe>
            <embed src="{{ response.filename.url }}" width="800px" height="2100px" />
            <br>
            {{response.filename.url}}
            
        {% endif %}  
      </div>
    </div>
  </div>

{% endblock %}