{% extends 'index.html' %}

{% block content %}

  <body>
    <div  class="container text-center " style="padding-top: 2% !important; padding-bottom: 2% !important;">

          <form method="POST" enctype="multipart/form-data" > 
            <div class="row">
              <div class="col" style="padding-right: 1% !important;padding-left: 1% !important;"> 
              {% csrf_token %}  
              {{ formb.as_p }}  
              <button type="submit">Upload</button>  
          </form>  
        
          {% if data %}  
              <h3>Succesfully uploaded</h3>  
              <!-- <img src="" alt="connect" style="max-height:300px">   -->
             
              
              <br>
              {{response.text}}
              
          {% endif %}  
        </div>
      </div>
    </div>
  </body>

{% endblock %}