{% extends 'index.html' %}

{% block content %}




<div class="container text-center">
    <div class="row">
      <div class="col">
        <form method="post" enctype="multipart/form-data" >  
            {% csrf_token %}  
            {{ form.as_p }}  
            <button type="submit">Upload</button>  
        </form>  
      
        {% if image %}  
            <h3>Succesfully uploaded</h3>  
            <img src="{{ image.file.url }}" alt="connect" style="max-height:300px">  
    
    
            <br>
            {{r.name}}
            <br>
            {{r.DOB}}
            <br>
            {{r.Pan}}
            <br>
            {{r.Fathers_name}}

        {% endif %}  
      </div>
    </div>
  </div>

{% endblock %}